// Breakpoints
$bp-mobile: 480px;  
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1500px;

// Tipografía
$primary-font: "Merriweather", serif;
$secondary-font: "Poppins", sans-serif;

// Tamaño de contenedor
$max-width-container: 1350px;

// Colores
$color-background-html: #2B2D38;
$color-navbar_options: #ABABAB;
$color-subtitulo: #909090;
$color-rojo: #DB2A6B;
$color-azul-oscuro: #264065;
$secondary-color: #D4A373;
$text-color: #333;

